body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    flex-direction: column;
}

.intro-content h1 {
    color: gold;
    font-size: 10rem;
    margin-bottom: 10px;
}

.intro-content h2 {
    color: #ffffff;
    font-size: 9rem;
    margin-bottom: 10px;
}

.intro-content p {
    color: #dddddd;
    font-size: 5rem;
    max-width: 80%;
    margin: 8px auto;
    line-height: 1.5;
}

#countdown {
    margin-top: 20px;
    color: #aaaaaa;
    font-style: italic;
    font-size: 4rem;
}

#main-content {
    display: block;
}

.thumb span {
    display: none;
}

.thumb:hover span {
    display: block;
}

#preview-text {
    font-size: 4.1rem !important;
    line-height: 4.6rem !important;
}

.music-control-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.music-control-btn:hover {
    background-color: white;
    transform: scale(1.05);
}

music-off {
    background-color: #ff3333 !important;
    color: white
}

body {
    transform: scale(0.25) !important;
    transform-origin: top left !important; /* කුඩා වීම වම්පස ඉහළ සිට සිදුවීමට */
    width: 400% !important;
    height: 400% !important;
    background-color: black;
    margin: 0;
    padding: 0;
}